body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*// Navbar //*/
a, li {
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    line-height: 23px;
    letter-spacing: -0.346154px;
    color: #111111;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3em 10%;
    margin: 0px;
    background-color: none;
    width: 1109px;
    height: 23px;
}
.logo {
    cursor: pointer;
    font-size: 22px;
}

.nav_tabs {
    list-style: none;
}
.nav_tabs li {
    display: inline-block;
    padding: 0px 20px;
}
.nav_tabs a {
    transition: all 0.3s ease 0s;
}
.nav_tabs a:hover {
    color: #4A4FF2;
}

/*// Main //*/
main {
    width: 1120px;
}
h1 {
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 55px;
    color: #111111;
}
p {
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #111111;
    opacity: 0.8;
}
hr {
    background: #D8D8D8;
    mix-blend-mode: normal;
    opacity: 0.3;
    border: 1px solid #979797;
    box-sizing: border-box;
    margin-right: 1em;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
}

.grid-item-1 {
    grid-column: span 3;
    display: flex;
    justify-content: space-between;
}
.container-1 {
    width: 55%;
    height: 100%;
}

.container-2 {
    width: 25%;
    height: 100%;
    display: flex;
    font-family: "Mulish", sans-serif;
    flex-direction: column;
}
span {
    font-family: "mulish", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #111111;
    margin-left: 2em;
}
.text-edit {
    margin-left: 3em;
}

.grid-item-2 {
    grid-column: span 3;
}

.grid-item-3 {
    grid-column: span 3;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #111111;
    mix-blend-mode: normal;
    opacity: 0.8;
}
.grid-item-4 {
    grid-column: span 1;
}
.grid-item-5 {
    grid-column: span 1;
}
.grid-item-6 {
    grid-column: span 1;
}

/*// Footer //*/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3em 10%;
    margin: 0px;
    background-color: none;
    margin-top: 3em;
    width: 1109px;
    height: 23px;
}
.bottom {
    display: inline-flex;
}
.icons {
    list-style: none;
}
.icons li {
    display: inline-block;
    padding: 0px 20px;
}